.feedpage {
  padding: 20px;
  &-header {
    display: flex;
    font-family: "μ„μΈν•κ°•";
    justify-content: space-between;
    &-logo {
      display: flex;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }
      &-title {
        font-weight: 400;
        height: 30px;
        font-size: 28px;
      }
    }
    &-pencil {
    }
  }
}
