.login {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-logo {
    display: flex;
    align-items: end;
    width: 328px;
    margin-bottom: 10px;
    &-img {
      width: 180px;
      height: 180px;
    }
    &-text {
      font-weight: 500;
      font-size: 54px;
      font-family: "μ„μΈν•κ°•";
      letter-spacing: 1px;
      &-small {
        text-align: center;
        font-size: 21px;
        font-weight: 400;
        color: #929292;
      }
    }
  }
  &-input {
    position: relative;
    img {
      left: 20px;
      top: 43%;
      transform: translateY(-50%);
      position: absolute;
    }
    input {
      padding-left: 50px;
      background-color: #e9e9e9;
      width: 278px;
      height: 55px;
      border-radius: 30px;
      border: none;
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 400;
      font-family: "Spoqa Han Sans Neo";
    }
  }
  &-button {
    width: 328px;
    height: 55px;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    &.b1 {
      background-color: #929292;
    }
    &.b2 {
      background-color: #494949;
    }
  }
}
