.signup {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-header {
    width: 328px;
    img {
      width: 100px;
    }
    &-title {
      font-size: 48px;
      font-weight: 400;
      letter-spacing: -0.32px;
      font-family: "μ„μΈν•κ°•";
    }
  }
}
